/* 
  checkbox hack
  搭配 label 的方式讓 checkbox 移除後依然可以生效
*/

@import "_functions";

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[id="toggle-heart"] {
	position: absolute;
	left: -100vw;
}

@mixin twitter-heart-effect($heartName, $heartSize: 5em) {
	$bubble-diameter: 5rem;
	$bubble-radius: 0.5 * $bubble-diameter;

	$particle-d: 0.375rem;
	$particle-r: 0.5 * $particle-d;

	@mixin bubble($ext) {
		border-color: #cc8ef5;
		border-width: $ext;
		transform: scale(1);
	}

	@mixin particles($k) {
	  $shadow-list: ();
	  $n-groups: 7;
	  $group-base-angle: 360deg / $n-groups;
	  $group-dist-r: (1 + $k * 0.25) * $bubble-radius;
	  $n-particles: 2;
	  $particle-base-angle: 360deg / $n-particles;
	  $particle-off-angle: 60deg;
	  $spread-r: -$k * $particle-r;


	  @for $i from 0 to $n-groups {
	    
	    $group-curr-angle: $i * $group-base-angle - 90deg;
	    
	    
	    $xg: $group-dist-r * cos($group-curr-angle);
	    $yg: $group-dist-r * sin($group-curr-angle);
	  	
	  	
	    // add to shadow list
	    $shadow-list: $shadow-list, $xg $yg;
	    

	    @for $j from 0 to $n-particles {
	  		$particle-curr-angle: $group-curr-angle + $particle-off-angle + $j * $particle-base-angle;

	  		$xs: $xg + $particle-d * cos($particle-curr-angle);
	  		$ys: $yg + $particle-d * sin($particle-curr-angle);

	  		/* HSL usage */	
	  		$shadow-list: $shadow-list, $xs $ys hsl(($i + $j) * $group-base-angle, 100%, 75%);
	    }
	  }
	  box-shadow: $shadow-list;
	}


  label[for="toggle-heart"] {
  	position: relative;
  	font-size: $heartSize;
  	color: #aab8c2;
  	cursor: pointer;

  	&:before, &:after {
  		position: absolute;
  		z-index: -1;
  		top: 50%;
  		left: 50%;

  		content: "";
  		border-radius: 50%;
  	}

  	&:before {
  		box-sizing: border-box;
  		margin: -$bubble-radius;
  		width: $bubble-diameter; height: $bubble-diameter;
  		border: solid $bubble-radius #e2264d;

  		transform: scale(0);
  	}

  	&:after {
  		margin: -$particle-r;
  		width: $particle-d; 
  		height: $particle-d;
  		
  		opacity: 0;
  		@include particles(0);

  	}
  }


  input[id="toggle-heart"]:checked + label[for="toggle-heart"] {
  	color: red;
  	animation: hearts .8s cubic-bezier(.17, .89, .32, 1.49); /* timing function */
  	
  	&:after, &:before {
  		animation: inherit;
      animation-timing-function: cubic-bezier(.21, .61, .35, 1);
  	}

  	&:before {
  		will-change: border-width, border-color, tranform;
  		animation-name: bubbles;
  	}

  	&:after {
  		@include particles(1);
  		animation-duration: .7s;
  		animation-name: particles;
  	}
  }
}

@include()

@keyframes hearts {
  0%, 
  17.5% {
  	font-size: 0;
  }
}

@keyframes bubbles {
	15% { @include bubble($bubble-radius); }

	30%, 100% { @include bubble(0); }
}

@keyframes particles {
	0%, 20% { opacity: 0; }
	25% {
		opacity: 1;
		@include particles(0);
	}
}