@charset "UTF-8";
/* 
  checkbox hack
  搭配 label 的方式讓 checkbox 移除後依然可以生效
*/
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

input[id="toggle-heart"] {
  position: absolute;
  left: -100vw; }

label[for="toggle-heart"] {
  position: relative;
  font-size: 10em;
  color: #aab8c2;
  cursor: pointer; }
  label[for="toggle-heart"]:before, label[for="toggle-heart"]:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    content: "";
    border-radius: 50%; }
  label[for="toggle-heart"]:before {
    box-sizing: border-box;
    margin: -4.5rem;
    width: 9rem;
    height: 9rem;
    border: solid 4.5rem #e2264d;
    transform: scale(0); }
  label[for="toggle-heart"]:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    opacity: 0;
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    box-shadow: 0rem -4.5rem, 0.32476rem -4.6875rem #ff8080, -0.32476rem -4.3125rem #ffed80, 3.51824rem -2.8057rem, 3.86732rem -2.6687rem #ffed80, 3.16916rem -2.94271rem #a4ff80, 4.38718rem 1.00134rem, 4.49771rem 1.35968rem #a4ff80, 4.27664rem 0.643rem #80ffc8, 1.95248rem 4.05436rem, 1.74123rem 4.3642rem #80ffc8, 2.16372rem 3.74452rem #80c8ff, -1.95248rem 4.05436rem, -2.32643rem 4.08238rem #80c8ff, -1.57844rem 4.02636rem #a480ff, -4.38718rem 1.00134rem, -4.64224rem 0.72645rem #a480ff, -4.13045rem 1.27676rem #ff80ed, -3.51824rem -2.8057rem, -3.46235rem -3.17652rem #ff80ed, -3.55189rem -2.42709rem #ff8080; }

input[id="toggle-heart"]:checked + label[for="toggle-heart"] {
  color: red;
  animation: hearts 0.8s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  /* timing function */ }
  input[id="toggle-heart"]:checked + label[for="toggle-heart"]:after, input[id="toggle-heart"]:checked + label[for="toggle-heart"]:before {
    animation: inherit;
    animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1); }
  input[id="toggle-heart"]:checked + label[for="toggle-heart"]:before {
    will-change: border-width, border-color, tranform;
    animation-name: bubbles; }
  input[id="toggle-heart"]:checked + label[for="toggle-heart"]:after {
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    box-shadow: 0rem -5.625rem, 0.32476rem -5.8125rem #ff8080, -0.32476rem -5.4375rem #ffed80, 4.3978rem -3.50713rem, 4.74688rem -3.37013rem #ffed80, 4.04872rem -3.64413rem #a4ff80, 5.48397rem 1.25168rem, 5.5945rem 1.61002rem #a4ff80, 5.37344rem 0.89334rem #80ffc8, 2.4406rem 5.06795rem, 2.22935rem 5.37779rem #80ffc8, 2.65184rem 4.75811rem #80c8ff, -2.4406rem 5.06795rem, -2.81455rem 5.09597rem #80c8ff, -2.06656rem 5.03995rem #a480ff, -5.48397rem 1.25168rem, -5.73903rem 0.97679rem #a480ff, -5.22724rem 1.52709rem #ff80ed, -4.3978rem -3.50713rem, -4.34191rem -3.87794rem #ff80ed, -4.43145rem -3.12851rem #ff8080;
    animation-duration: .7s;
    animation-name: particles; }

@keyframes hearts {
  0%, 
  17.5% {
    font-size: 0; } }
@keyframes bubbles {
  15% {
    border-color: #cc8ef5;
    border-width: 4.5rem;
    transform: scale(1); }
  30%, 100% {
    border-color: #cc8ef5;
    border-width: 0;
    transform: scale(1); } }
@keyframes particles {
  0%, 20% {
    opacity: 0; }
  25% {
    opacity: 1;
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    /* HSL usage */
    box-shadow: 0rem -4.5rem, 0.32476rem -4.6875rem #ff8080, -0.32476rem -4.3125rem #ffed80, 3.51824rem -2.8057rem, 3.86732rem -2.6687rem #ffed80, 3.16916rem -2.94271rem #a4ff80, 4.38718rem 1.00134rem, 4.49771rem 1.35968rem #a4ff80, 4.27664rem 0.643rem #80ffc8, 1.95248rem 4.05436rem, 1.74123rem 4.3642rem #80ffc8, 2.16372rem 3.74452rem #80c8ff, -1.95248rem 4.05436rem, -2.32643rem 4.08238rem #80c8ff, -1.57844rem 4.02636rem #a480ff, -4.38718rem 1.00134rem, -4.64224rem 0.72645rem #a480ff, -4.13045rem 1.27676rem #ff80ed, -3.51824rem -2.8057rem, -3.46235rem -3.17652rem #ff80ed, -3.55189rem -2.42709rem #ff8080; } }

/*# sourceMappingURL=style.css.map */
